
body {
  background-color: #E0EBE8;
  margin: 0;
  text-align: center;
  font-family: 'Marcellus', serif;
  font-size: 20px;
}

.top {
  background-color: #E0EBE8;
  position: relative;
  padding-top: 100px;
}


h1 {
  color: #4AB19A;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 70px;

  /*text-shadow: 2px 3px green;*/
}

h2 {
  font-family: 'Marcellus', serif;
}

h3 {
  font-family: 'Marcellus', serif;
}

p {
  color: #4AB19A;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
